
.header {
	font-family: Bangers;
	text-align: center;
}

.imageBlock {
	padding-top: 15px;
	padding-bottom: 5px; 
}

#pageLinks {
	padding-top: 20px;
	font-family: Bangers;
	align: left;
	font-size: 100%
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 300%;
}

h2 {
    text-transform: uppercase;
    font-weight: 400;
}

h4 {
    font-weight: 500;
}

p {
    font-size: 110%;
    line-height: 170%;
}

li {
    line-height: 170%;   
}

img {
    height: 300px;
    margin:auto;
    display:block;
}   

a {
    font-size: 250%
    display: block;
    text-decoration: none;
    color:black;
}

.section {	
    padding-left: 30px;	
    padding-top: 15px;
    word-wrap: break-word;
    width:80vh;
}
.row {
    padding-left: 45px;
    padding-top: 15px;
    word-wrap: break-word;
    width: 80vh;
}

.content{

}
